@import url('https://fonts.googleapis.com/css2?family=Inconsolata&display=swap');

* {
    margin: 0;
    padding: 0;
    font-family: 'Inconsolata', monospace;
    color: white;
}

html {
    background: url(/src/images/fried-chicken.jpg) no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}


#content {
    height: 100vh; 
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto 1fr auto;
    align-items: center;
}

.header,
.footer {
    background-color: rgba(99, 99, 99, 0.7);
    padding: 10px;
    text-align: center;
}

.heading {
    padding: 20px;
    font-weight: 700;
    font-size: 30px;
}

.tabs {
    display: flex;
    justify-content: center;
    gap: 20px;
}

.tab {
    cursor: pointer;
    padding: 10px;
}

.tab.selected {
    box-shadow: 1px 1px 3px 1px black; 
    border-radius: 5px;
}

.main-content {
    justify-self: center; 
    padding: 20px;
    background-color: rgba(100, 100, 100, 0.8);
    border-radius: 10px; 
    margin: 30px;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
} 


.los-pollos-image {
    width: 200px;
    height: auto;
    border-radius: 50%;
}

.menu-item-image {
    width: 200px;
    height: auto;
}

.menu-item {
    display: flex;
    gap: 20px;
    justify-content: center;
    align-items: center;
}

.description {
    font-weight: 700;
}